/* Estilo para el cuerpo de la página */
body {
    background-color:  rgb(9, 11, 110); /* Color de fondo */
}

/* Estilo para el contenedor principal */
.container {
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor en la página */
}

/* Estilo para los botones */
.btn {
    margin-top: 10px; /* Espacio superior */
}

/* Estilo para la tarjeta de película */
.card {
    border: 55px solid #ddd; /* Borde sólido */
    border-radius: 5px; /* Radio de borde */
    margin-bottom: 20px; /* Espacio inferior */
}

/* Estilo para el encabezado de la tarjeta */
.card-title {
    font-size: 26px; /* Tamaño de fuente */
    font-weight: bold; /* Peso de fuente */
    color: rgb(9, 11, 110);/* Color de texto */
}

/* Estilo para el cuerpo de la tarjeta */
.card-text {
    color: #070707; /* Color de texto */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Estilo para la imagen de la tarjeta */
.card-img {
    width: 100%; /* Ancho de la imagen al 100% */
    height: auto; /* Altura automática */
    border-top-left-radius: 5px; /* Radio de borde superior izquierdo */
    border-top-right-radius: 5px; /* Radio de borde superior derecho */
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeInAnimation;
    animation-duration: 1s; /* Duración de la animación */
}
