{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interfaz SA</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!--  <link rel="stylesheet" type="text/css" href="{% static 'css/cssLogin_sa.css' %}"> -->
    <style>
        /* Estilos adicionales aquí */
    </style>
</head>
<body>
    
<div class="container mt-5">
    <h2 class="text-center mb-4 animate_animated animate_fadeIn">ADMINISTRADOR DE USUARIOS</h2>
    <div class="row">
        <!-- Botón para agregar usuario -->
        <div class="col">
            <button type="button" class="btn btn-success mb-3" data-toggle="modal" data-target="#agregarUsuarioModal">
                Agregar Usuario
            </button>
        </div>

        <!-- Dropdownlist del tipo de usuario -->
        <div class="col">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle mb-3" type="button" id="dropdownTipoUsuario" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tipo de Usuario
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownTipoUsuario">
                    <a class="dropdown-item" href="#" onclick="filtrarUsuarios('tipo', 'sa'); updateSelectedOption('dropdownTipoUsuario', 'SA')">SA</a>
                    <a class="dropdown-item" href="#" onclick="filtrarUsuarios('tipo', 'taquillero'); updateSelectedOption('dropdownTipoUsuario', 'Taquillero')">Taquillero</a>
                    <a class="dropdown-item" href="#" onclick="filtrarUsuarios('tipo', 'todos'); updateSelectedOption('dropdownTipoUsuario', 'Todos')">Todos</a>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle mb-3" type="button" id="dropdownEstadoUsuario" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Estado del Usuario
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownEstadoUsuario">
                    <a class="dropdown-item" href="#" onclick="filtrarUsuarios('estado', 'activo'); updateSelectedOption('dropdownEstadoUsuario', 'Activo')">Activo</a>
                    <a class="dropdown-item" href="#" onclick="filtrarUsuarios('estado', 'inactivo'); updateSelectedOption('dropdownEstadoUsuario', 'Inactivo')">Inactivo</a>
                    <a class="dropdown-item" href="#" onclick="filtrarUsuarios('estado', 'todos'); updateSelectedOption('dropdownEstadoUsuario', 'Todos')">Todos</a>
                </div>
            </div>
        </div>

        <!-- Botón para ver películas -->
        <div class="col">
            <a href="{% url 'peliculas' %}" class="btn btn-primary">Películas</a>
        </div>
        <div >
            <a href="{% url 'login' %}" class="btn btn-danger">Salir</a>
        </div>

        <!-- Barra de búsqueda -->
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar usuarios..." aria-label="Buscar usuarios..." aria-describedby="basic-addon2" oninput="filtrarUsuarios('busqueda', this.value)">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Buscar</button>
            </div>
        </div>

        <!-- Tabla de usuarios -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre de Usuario</th>
                    <th scope="col">Tipo de Usuario</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.nombre_usuario }}</td>
                    <td>{{ usuario.tipo_usuario }}</td>
                    <td>{{ usuario.estado }}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editarUsuarioModal{{ usuario.id }}">
                            Editar
                        </button>
                        <a href="{% url 'eliminar_usuario' usuario.id %}" class="btn btn-danger btn-sm {% if usuario.nombre_usuario == 'sa' %}disabled{% endif %}" {% if usuario.nombre_usuario == 'sa' %}onclick="return false;"{% endif %}>
                            Eliminar
                        </a>
                    </td>
                </tr>

                <!-- Modal para editar usuario -->
                <div class="modal fade" id="editarUsuarioModal{{ usuario.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="{% url 'editar_usuario' usuario.id %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="nombreUsuario" class="white-text">Nombre de Usuario:</label>
                                        <input type="text" class="form-control" id="nombreUsuario" name="nombre_usuario" value="{{ usuario.nombre_usuario }}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="tipoUsuario" class="white-text">Tipo de Usuario:</label>
                                        <select class="form-control" id="tipoUsuario" name="tipo_usuario" required>
                                            <option value="sa" {% if usuario.tipo_usuario == 'sa' %} selected {% endif %}>SA</option>
                                            <option value="taquillero" {% if usuario.tipo_usuario == 'taquillero' %} selected {% endif %}>Taquillero</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="estado" class="white-text">Estado:</label>
                                        <select class="form-control" id="estado" name="estado" required>
                                            <option value="activo" {% if usuario.estado == 'activo' %} selected {% endif %}>Activo</option>
                                            <option value="inactivo" {% if usuario.estado == 'inactivo' %} selected {% endif %}>Inactivo</option>
                                        </select>
                                    </div>
                                    
                                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>

        <!-- Modal para agregar usuario -->
        <div class="modal fade" id="agregarUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agregar Nuevo Usuario</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Formulario para agregar usuario -->
                        <form method="post" action="{% url 'guardar_usuario' %}" id="agregarUsuarioForm">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="nombreUsuario">Nombre de Usuario:</label>
                                <input type="text" class="form-control" id="nombreUsuario" name="nombre_usuario" required>
                            </div>
                            <div class="form-group">
                                <label for="contraseña">Contraseña:</label>
                                <input type="password" class="form-control" id="contraseña" name="contraseña" required>
                            </div>
                            <div class="form-group">
                                <label for="confirmarContraseña">Confirmar Contraseña:</label>
                                <input type="password" class="form-control" id="confirmarContraseña" name="confirmar_contraseña" required>
                                <div id="passwordMismatch" class="invalid-feedback" style="display: none;">
                                    Las contraseñas no coinciden.
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="tipoUsuario">Tipo de Usuario:</label>
                                <select class="form-control" id="tipoUsuario" name="tipo_usuario" required>
                                    <option value="sa">SA</option>
                                    <option value="taquillero">Taquillero</option>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <label for="estado">Estado:</label>
                                <select class="form-control" id="estado" name="estado" required>
                                    <option value="activo">Activo</option>
                                    <option value="inactivo">Inactivo</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </form>
                        {% if messages %}
                        <div class="alert alert-danger mt-3">
                            {% for message in messages %}
                            <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div id="successMessage" class="alert alert-success mt-3" style="display: none;">
                            Usuario agregado exitosamente.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    

    <script>
        function updateSelectedOption(buttonId, selectedOption) {
            var button = document.getElementById(buttonId);
            button.innerText = selectedOption;
        }
    </script>


    <script>
        document.getElementById('agregarUsuarioForm').addEventListener('submit', function(event) {
            var password = document.getElementById('contraseña').value;
            var confirmPassword = document.getElementById('confirmarContraseña').value;
            if (password !== confirmPassword) {
                event.preventDefault();
                document.getElementById('passwordMismatch').style.display = 'block';
            } else {
                document.getElementById('passwordMismatch').style.display = 'none';
            }
        });

        // Manejar el mensaje de éxito después de guardar el usuario
        document.getElementById('agregarUsuarioForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevenir el envío del formulario para manejarlo con AJAX
            var form = event.target;
            var formData = new FormData(form);
            fetch(form.action, {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    document.getElementById('successMessage').style.display = 'block';
                    form.reset(); // Limpiar el formulario después de guardar exitosamente
                }
            })
            .catch(error => console.error('Error al guardar usuario:', error));
        });
    </script>
    <script>
        function filtrarUsuarios(tipo, valor) {
            var filas = document.querySelectorAll('tbody tr');
            filas.forEach(function(fila) {
                var tipoUsuario = fila.querySelector('td:nth-child(2)').textContent.toLowerCase();
                var estadoUsuario = fila.querySelector('td:nth-child(3)').textContent.toLowerCase();
                var nombreUsuario = fila.querySelector('td:nth-child(1)').textContent.toLowerCase();

                if ((tipo === 'tipo' && (valor === 'todos' || tipoUsuario === valor)) ||
                    (tipo === 'estado' && (valor === 'todos' || estadoUsuario === valor)) ||
                    (tipo === 'busqueda' && nombreUsuario.includes(valor.toLowerCase()))) {
                    fila.style.display = '';
                } else {
                    fila.style.display = 'none';
                }
            });
        }
    </script>
    
</body>
</html>
